* {
    border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: red; 
    height: 100vh;
    width: 100wh;
    position: initial;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(/gnarledBarkTrees.png);
    background: linear;
    background-repeat: no-repeat;
}


#pillers {
    display: block;
margin-left: auto;
margin-right: auto;
}

/*
.gameBoard {
    height: 100vh;
    width: 100wh;
    position: initial;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(./graveyardLandscape.png);
    background: linear
}
*/

#btn {
    background-color: khaki;
}

#tombstone {
    width: 50%;
    height: 57%;
    top: 43%;
    left: 28%;
    position: relative;
    border: 2px solid black;
}

#like-btn{
    position: absolute;
    right: 100px;
    top: 35%;
    border-radius: 50%;
    border: groove;
    padding: 42px;
}

#like-btn:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    cursor: url(/images/cursor.png), url;
}


#kill-btn {
    position: absolute;
    right: 100px;
    top: 41%;
    border-radius: 50%;
    border: groove;
    padding: 42px;
    cursor: url(/images/knife.png);
}

#kill-btn:hover {
    box-shadow: 0 5px 50px 0 #f41515 inset, 0 5px 50px 0 #8b1515,
    0 5px 50px 0 #f41515 inset, 0 5px 50px 0 #f41515;
    
}

#joke-display{
    position: absolute;
    left: 0;
    bottom: 0;
     height: 600px;
     width: 600px;
    background-image: url(./Tombstone.png);
     background-size: 100% 100%;
    background-repeat: no-repeat; 
}

#setups{
 /*   top: 58%;
    left: 39%;*/
    position: relative;

    border: 2px solid black;
    /* color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: #FFFFFF;
    background: padding-box;
 */
color: #FFFFFF;
background: #912C22;
text-shadow: 0 0 10px #FFFFFF;
color: #FFFFFF;
background: padding-box;
}

.hide-me{
    visibility: hidden;
    }

.marks{
    text-align: right;
    color: green;
}

.fives{
    text-decoration: wavy line-through;
}



/* set ups  */
/* position: relative;
    border: 2
px
 solid black;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #ffffff;
    color: #FFFFFF;
    background: padding-box;
    top: 27%;
    left: 13%;
    border-top-left-radius: 6%;
    border-top-right-radius: 29%;
    width: 59%;
    height: 29%; */