body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #422a2a;
        height: 100vh;
        width: 100wh;
        position: initial;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url(/gnarledBarkTrees.png);
        background: linear;
        background-repeat: no-repeat;
    }

#tombstone {
    width: 50%;
    height: 57%;
    top: 43%;
    left: 28%;
    position: relative;
    border: 2px solid black;
}


#like-btn{
    position: absolute;
    right: 100px;
    top: 35%;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    top: 31%;
    border-radius: 50%;
    border-top-right-radius: 0%;
    border-top-left-radius: 95%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 88%;
    border: groove;
    padding: 42px;
    border: groove;
    padding: 42px;
    background: linear-gradient(
    57deg, #912c22f5, #000000bd);
}

#like-btn:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #2fb615 inset, 0 5px 50px 0 #2fb615;
    cursor: url(/images/cursor.png), url;
}

#like-btn{
    position: absolute;
    right: 333px;
    top: 11%;
    border-radius: 50%;
    border: groove;
    padding: 42px;
}

#kill-btn {
    position: absolute;
    right: 8px;
    top: 26%;
    border-radius: 50%;
    border: groove;
    padding: 42px;
}

#kill-btn:hover {
    box-shadow: 0 5px 50px 0 #f49b15 inset, 0 5px 50px 0 #f49b15,
    0 5px 50px 0 #f41515 inset, 0 5px 50px 0 #f41515;
    
}

#joke-display{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 600px;
    background-image: url(./Tombstone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

.marks{
    text-align:unset;
    color: green;
}

#like-marks{
    position: absolute;
    border: solid green 2px;
    width: 140px;
    height: 188px;
    left: 600px;
    bottom: 0px;
}

#kill-marks{
    border: solid green 2px;
    height: 188px;
    width: 167px;
    position: absolute;
    left: 809px;
    bottom: 0px;
}


.fives{
    text-decoration: wavy line-through;
}

#setups{
    position: relative;
    border: 2px solid black;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #ffffff;
    color: #FFFFFF;
    background: padding-box;
    top: 8%;
    left: 20%;
    border-top-left-radius: 6%;
    border-top-right-radius: 29%;
    width: 45%;
    height: 46%;
}

#punch-button{
    position: absolute;
    left: 144px;
    top: 350px;
    width: 224px;
    border-radius: 50%;
    border: groove;
    padding: 4px;
}

#punchlines{
    bottom: 42px;
    position: absolute;
    right: 85px;
    width: 414px;
    border-top-right-radius: 54%;
    border-bottom-left-radius: 81%;
    border: 2px solid black;
    height: 157px;
}

/*
.hide-me{
    visibility: hidden;
    }
*/

/*
#setups{
    width: 300px;
    height: 133px;
    padding: 50px;
    left: 10%;
    top: 10%;
    border: none;
    position: relative;
    border: none;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: -14px 20px 10px #972d2d;
    background: padding-box;

}

.gameBoard {
    height: 100vh;
    width: 100wh;
    position: initial;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(./graveyardLandscape.png);
    background: linear
}

#pillers {
    display: block;
margin-left: auto;
margin-right: auto;
}

#btn {
    background-color: khaki;
}

#punchlines {
    width: 300px;
    height: 32px;
    padding: 42px;
    position: absolute;
    left: 19%;
    border: none;
    text-shadow: 18px 20px 8px #2fb615;
}


#like-btn {
    position: absolute;
    right: 100px;
    top: 35%;
    border-radius: 50%;
    position: absolute;
    right: 22%;
    top: 31%;
    border-radius: 50%;
    border-top-right-radius: 0%;
    border-top-left-radius: 95%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 88%;
    padding: 42px;
    border: ridge lawngreen;
    padding: 42px;
    background: linear-gradient(
    57deg, #2fb615, #000000bd);
}

#kill-btn {
    position: absolute;
    right: 33%;
    top: 32%;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 33%;
    top: 32%;
    border: 2px solid black;
    border-radius: 50%;
    background: linear-gradient(
    57deg, #912c22f5, #000000bd);
    font-size: inherit;
    border-top-right-radius: 0%;
    border-top-left-radius: 95%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 88%;
    border: ridge brown;
    padding: 42px;
}

#punch-button {
    text-size-adjust: 142%;
    height: 10%;
    width: 23%;
    border-radius: 88%;
    background: #5e9788;
    position: absolute;
    top: 78%;
    left: 44%;
    border-top-right-radius: 83%;
    border-top-left-radius: 84%;
    border-bottom-left-radius: 74%;
}